@import "../../styles/index.scss";
#container {
  display: block;
  height: $default-size * 4;
}
#button {
  cursor: pointer;
  background: transparent;
  border: none;
  height: $default-size * 14;
  min-width: $default-size * 10;
  height: $default-size * 4;
  border-radius: 2px;
  width: auto;
  margin: $default-size auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(0);
  transition: all 0.4s ease;
  samp {
    border: solid;
    border-color: $primary;
    position: absolute;
    width: 23px;
    height: 10px;
    transition: all 0.2s ease-in-out 0.2s;
    &:nth-child(4) {
      top: 0;
      right: 0;
      border-width: 2px 2px 0 0;
    }
    &:nth-child(5) {
      bottom: 0;
      right: 0;
      border-width: 0px 2px 2px 0px;
    }
    &:nth-child(2) {
      top: 0;
      left: 0;
      border-width: 2px 0px 0px 2px;
    }
    &:nth-child(3) {
      bottom: 0;
      left: 0;
      border-width: 0px 0px 2px 2px;
    }
  }
  .children {
    z-index: +2;
    font-size: $default-size * 3;
    transition: all 0.1s linear 0.6s;
    opacity: 0;
    // font-size: 0;
  }
  &:focus {
    transition: all 0.1s ease;
    transform: translateY(0) scale(1);
  }
  &.active {
    text-align: center;
    transition: all 0.2s ease-in-out 0.2s;
    color: $white;
    background: $primary;
    min-width: 100%;
    width: 100%;
    height: $default-size * 12;
    transform: translateY(-8px) scale(1);
    .children {
      color: $primary;
      color: $white;
      opacity: 1;
      transition: all 0.1s linear 0.2s;
      // font-size: 12px;
    }
    samp {
      transition: all 0.2s ease;
      width: 10px;
      height: 10px;
    }
  }
}
